<nav class="navbar">
  <div class="navbar-inner">
    <!-- Logo -->
    <a href="/" class="brand">
      <!-- <span class="brand-name">Wall-E Code Reviewer</span> -->
    <img
     src="../../../../assets/images/7d2b7f85-9e6e-4fc5-961d-b99f449c6528.png"
     alt="Wall-E AI Code Reviewer"
     class="brand-logo"
    />
      <span class="brand-tagline">
        Code Reviewer AI tool
      </span>
    </a>

    <!-- Desktop Menu -->
    <div class="desktop-menu">
      <a
        *ngFor="let item of menuItems"
        [href]="item.link"
        class="menu-item"
      >
        {{ item.label }}
      </a>
    </div>

    <!-- Mobile Menu Button -->
    <button
      class="menu-toggle"
      type="button"
      (click)="toggleMenu()"
      [attr.aria-expanded]="isMenuOpen"
      aria-label="Toggle navigation menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div
    class="mobile-menu"
    [class.open]="isMenuOpen">
    <a
      *ngFor="let item of menuItems"
      [href]= "item.link"
      class="mobile-menu-item"
      (click)="closeMenu()">
      {{ item.label }}
    </a>
  </div>
</nav>